
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@model IEnumerable<Alugai.Models.Usuario>

<h2>Lista de Usuários</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Cpf</td>
                <td>@usuario.Nome</td>
                <td>@usuario.Email</td>
                <td>
                    <a asp-action="Details" asp-route-id="@usuario.Cpf">Detalhes</a> |
                    <a asp-action="Edit" asp-route-id="@usuario.Cpf">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@usuario.Cpf">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Criar Novo</a>